body{
    display: flex;
    justify-content: center;
    background: radial-gradient(grey 40%, black 60%);
}

section{
    margin: 5%;
    display: flex;
    width: 600px;
    height: 430px;
}

section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor:pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}